@media(max-width:1200px){
    .container{
        max-width: 720px;
    }
    .advantages{
        &__items{
            width:221px;
        }
        &__descr{
            text-align: left;
        }
    }
}
@media (max-width: 767px){
    .container{
        max-width: 540px;
    }
    .header{
        justify-content: space-around;
        &__logo{
            width:200px;
        }
        &__official{
            display: none;
        }
    }
    .promo{
        &__wrapper{
            align-items: center;
        }
        &__title{
            font-size: 40px;
        }
        &__subtitle{
            font-size: 22px;
        }
    }
    .advantages{
        padding: 70px 40px;
        &__wrapper{
            flex-wrap: wrap;
        }
        &__items{
            margin-bottom: 20px;
        }
    }
}
@media(max-width:575px){
    .container{
        width:100%;
    }
    
    .header{
        &__logo{
            width:130px;
        }
        &__phone{
            font-size: 15px;
        }
        .button{
            margin-top: 10px;
            width: 130px;
        }
    }
    .promo{
        &__wrapper{
            margin-top: 50px;
        }
        &__icons{
            margin-top: 50px;
            width: 300px;
        }
        &__title{
            text-align: center;
            font-size: 30px;
        }
        &__subtitle{
            text-align: center;
            font-size: 18px;
        }
        &__link{
            font-size: 12px;
        }
        .button_large{
            width:250px;
        }
       
    }
    .title{
        font-size: 22px;
    }
    .advantages{
        padding: 50px 0;
        &__wrapper{
            margin-top: 20px;
            flex-direction: column;
        }
        &__items{
            margin:10px auto;
            width:230px;
        }
        &__descr{
            text-align: center;
        }
    }
}